<!-- app/views/contact_us_mailer/send_contact_message.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>Dear customer,<br> Thank you for reaching out!You are an invaluable part of everything we do here. </p>


  <p>We received your message and our team has already started working on it. If the inquiry is urgent, it’s best to use the number listed below to talk to our team. Otherwise, we’ll reply by email asap.</p>
  <p>Talk to you soon,thanks for contacting us.</p>

</body>
</html>
