<section class="hero" style="background-image: url('https://vela-demo-1.myshopify.com/cdn/shop/files/slideshow1_1728x.jpg?v=1613707479'); background-size: cover; background-position: center top;">

  <div class="hero__container">
    <div class="hero__message"   style="text-align: right; width: 100%;">
      <h1 class="hero-title" style="color: black;">
        Unbox Happiness, Every Time. 
      </h1>

      <p class="subtitle" style="color: black;">
        Your one-stop destination for all your shopping needs! 
      </p>
    </div>
  </div>
</section>
