<p><b>terms and conditions</b></p>
<p>Pay on Delivery (POD) includes Cash on Delivery (COD) as well as additional digital payment facilities via UPI / QR Code -Scan & Pay.</p>
<li>Pay on Delivery isn't yet available for all pin codes. This is due to limitations of courier services we use.</li>
<li>For more details on the Pay on Delivery limit for a specific order, please visit the product details page.</li>
<li>Pay on Delivery will only be available for some items under Lightning Deals.</li>
<li>Pay on Delivery is available for Signing up for Prime Membership for eligible customers.</li>
<li>If you're using Pay on Delivery as a payment method and your mobile number isn't verified on Amazon, you'll be asked to enter a One-Time password to complete your order. This One-Time password will be sent to your registered mobile number.</li>
<li>Pay on Delivery is not available for exports/international customers.</li>

